.btn{
    background-color: red;
    border: none;
    left: 50px;
}
.background{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/206/804/970/soccer-robert-lewandowski-fc-bayern-munich-polish-wallpaper-preview.jpg");
}